{% extends 'base.html' %}

{% block title %}
Flavours
{% endblock title %}

{% block body %}
<div class="container">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut maiores vel provident voluptatum in quia
        perspiciatis
        cumque quod? Voluptas, eum eaque. Facere unde voluptate perferendis hic quam sint eum id expedita tempore
        accusantium architecto maiores sed quod praesentium labore voluptatum error vel deleniti modi, molestias porro
        soluta adipisci excepturi. Dolor, provident quos numquam, sed sunt officiis harum veniam similique dolores ad,
        odit
        beatae velit. Omnis et a ullam ipsam in dolore distinctio officia asperiores, autem ad, labore delectus harum
        explicabo eum consequatur doloribus esse nam dicta libero minus illo deserunt molestias perferendis sed! Ipsa
        voluptas nostrum possimus error in. Cupiditate quibusdam facilis molestias beatae quod, iure ea dolor dolore
        aperiam
        quae et harum ratione at libero reprehenderit nesciunt, numquam quas voluptates consequatur pariatur explicabo
        rem
        ullam voluptatum ab! Voluptatem in ipsum voluptate impedit eligendi quibusdam iusto minus perferendis cum cumque
        quidem rerum amet praesentium quam eos, dolores nihil. Enim inventore in reprehenderit magni consequatur
        consequuntur nihil sunt repudiandae, cum ipsa nesciunt voluptas dolore voluptate. Dignissimos quo, nobis dolores
        quos in magni reiciendis, voluptate placeat, sapiente ducimus consectetur optio ratione perspiciatis. Nemo
        maiores,
        veniam odit molestiae atque aut? Mollitia unde eius sequi dolorum cupiditate repellat perferendis tempora
        consequuntur neque a soluta provident, est dolores ipsam! Et dolor assumenda praesentium! Perspiciatis saepe
        commodi
        accusamus cupiditate vel. Voluptas, ipsum temporibus. Sapiente magni, nesciunt iure nisi saepe animi sint
        blanditiis
        commodi quod, voluptatibus qui provident dicta quam, cupiditate perferendis impedit eos quae totam? Officia unde
        consectetur debitis explicabo quos iure natus dolore quas doloribus cum maxime repudiandae, aut esse soluta
        adipisci
        consequatur rem impedit facere eligendi vero voluptatum perferendis enim magnam eum. Neque dolore consectetur ab
        accusantium omnis ratione magni molestiae quisquam necessitatibus obcaecati! Deserunt rem ex enim, et quae velit
        laborum perspiciatis soluta facere quas eligendi earum, aliquid vero sed obcaecati officia corrupti. Consectetur
        expedita iusto sed corporis ipsum quasi. Quibusdam consequatur velit id praesentium similique, aspernatur
        aliquid
        consequuntur cupiditate? Aliquam doloribus error odit quisquam hic magni optio placeat iusto velit quis, tempora
        rerum in ipsa magnam sequi. Blanditiis totam velit amet necessitatibus iusto est magni. Natus beatae molestias
        dolores dolor ea, quae repellendus. Eaque nesciunt incidunt expedita, numquam repellat eius odit voluptas
        ducimus.
        Perspiciatis dolorum vero repellendus consectetur soluta iste dolores voluptatibus earum cupiditate aspernatur
        possimus facilis maiores, obcaecati, laboriosam vel alias quod reiciendis repellat iure fugit rerum commodi!
        Eligendi praesentium suscipit qui excepturi? Quam ab aliquam, vitae animi ad odit, perspiciatis iure delectus
        ducimus vero nobis porro minus eius cum ea nisi sit dolorem amet tempora fugiat optio! Aliquid ipsum adipisci
        quae
        voluptas quibusdam possimus animi cumque cum, rem itaque, vitae, iusto consectetur corrupti amet iure? Pariatur
        quia
        et dolores deleniti modi, repellat laudantium! Ullam cum molestiae iure nisi aperiam. Debitis quas similique
        voluptate nobis quia, dolore voluptatum iste tempore enim reiciendis alias ipsa voluptatibus velit labore
        sapiente
        repellat earum pariatur fuga minima asperiores eveniet? Nostrum reiciendis sapiente nam quia a soluta neque
        dolorum
        ipsa quos magni in distinctio ex, assumenda velit! Quo, ut voluptatum aut tempore, ad iusto repellendus dolorum
        ipsam mollitia asperiores dolor nisi optio sunt rerum laudantium voluptates natus earum, dolore doloribus
        nesciunt
        dicta laboriosam sequi soluta rem. Voluptas pariatur, est adipisci ad, autem explicabo sed ab mollitia, ipsa
        obcaecati et necessitatibus! Asperiores provident officia voluptas id nesciunt, molestiae doloribus nobis
        repudiandae itaque. Ipsa aliquid dolorem nulla architecto, expedita asperiores pariatur, magni natus ut ullam
        corrupti sint fugit soluta doloremque quisquam facere accusamus aspernatur distinctio velit saepe cum
        perspiciatis!
        Accusantium hic sit est, laborum, maiores dolorum dignissimos iusto suscipit incidunt perspiciatis quis
        voluptates
        error. Doloribus, odit architecto vel optio impedit facere consectetur libero accusantium, rerum incidunt enim
        esse,
        exercitationem repellendus dolor necessitatibus excepturi sequi fuga. Sint porro deleniti, corporis ex hic
        excepturi
        debitis corrupti exercitationem accusamus. Reiciendis, esse! Deserunt inventore velit, quo id pariatur facere ab
        omnis est eius dicta dolor, harum aspernatur alias suscipit beatae non atque obcaecati enim sapiente perferendis
        expedita sunt, cum quisquam qui! Esse nisi in velit aperiam nemo, magnam labore aliquid porro. Eaque magni fugit
        nulla perspiciatis deserunt iste ipsum. Possimus tenetur magni molestias suscipit provident in deleniti
        excepturi
        alias itaque error sequi eligendi rerum laudantium amet vero, impedit eius, accusamus similique hic debitis ut
        culpa
        ad commodi. Cum quas similique numquam corporis atque, dolore fugiat pariatur. Laborum similique error minima
        assumenda quos hic quam sed corrupti? Neque similique sed quae corrupti laborum provident quia fuga eius itaque,
        dolore, velit, debitis nihil. Eum suscipit omnis explicabo. Odit delectus, dolorum quo doloremque sed dicta
        error
        consectetur corrupti et quibusdam vero modi vel quos corporis est assumenda enim debitis exercitationem. Nisi,
        dolorem sequi. Exercitationem modi suscipit porro tempore voluptates dolorem distinctio iusto harum! Facilis
        veniam
        molestias ad impedit mollitia sunt ab at veritatis, repudiandae laboriosam alias unde reprehenderit provident
        vitae
        magni, recusandae tempora id? Laborum quaerat ad suscipit nisi eaque nihil dignissimos mollitia repellendus
        incidunt
        iusto, nobis earum tempora animi quas consectetur modi veritatis necessitatibus impedit a et consequatur minus
        velit! Animi fuga eius, officia perspiciatis, voluptas beatae fugit similique natus tenetur ratione numquam
        quidem
        doloribus tempora. Repellendus quasi quam quo, corrupti doloribus possimus architecto delectus sapiente veniam
        cum
        laborum dicta debitis pariatur laboriosam magnam ut illo autem laudantium maxime ducimus quibusdam optio ab.
        Commodi
        deserunt adipisci placeat inventore recusandae mollitia ex blanditiis reprehenderit voluptates vitae temporibus
        quaerat, debitis repellat velit excepturi sit delectus nostrum, quasi dolore tempore natus. Enim reiciendis modi
        autem praesentium voluptatibus quae, perferendis nisi ut aliquam voluptatum nulla dignissimos nihil itaque
        laudantium quod. Aspernatur temporibus, vitae minus recusandae doloremque sint ratione cumque quaerat. Libero
        voluptatum, vel aliquam minima reiciendis temporibus dignissimos incidunt nihil? Accusantium aperiam modi iusto
        quasi cum, molestiae quo, itaque, placeat iste voluptatibus optio eveniet magni deserunt molestias cupiditate
        perferendis nesciunt? Quo inventore veritatis maiores corrupti sunt, molestias obcaecati quas a esse rem,
        suscipit
        accusamus labore saepe, sapiente nesciunt officia assumenda facilis quis? Officia reiciendis optio ea eum
        consequatur est, vel error. Omnis explicabo commodi quas impedit, dolorum pariatur at ducimus iure debitis
        facere
        accusamus blanditiis dicta officia, nobis, obcaecati error nihil vero cumque quis. Incidunt suscipit placeat
        autem
        sequi? Soluta, sapiente exercitationem accusamus officia itaque cumque magni cupiditate vel labore laudantium id
        alias, sunt delectus perferendis aperiam, in quae unde ex accusantium quibusdam pariatur porro inventore nostrum
        debitis! Necessitatibus sapiente consectetur doloremque unde facilis magni vero reiciendis, totam, saepe
        molestias
        quibusdam libero porro consequuntur eos hic vel molestiae perspiciatis fuga itaque rem aliquid, distinctio
        eveniet
        suscipit. Iusto mollitia nemo, suscipit provident repellendus consequatur fuga voluptatum est veniam esse
        beatae,
        molestias delectus numquam laborum! Eius ut at, quis debitis modi laudantium quaerat aut obcaecati dolore nemo
        sint!
        Ex, doloremque corrupti expedita laboriosam tempora dolorum sapiente unde odio velit temporibus doloribus sit
        aliquam iure non! Corrupti itaque, libero autem at quo numquam doloribus cupiditate ab incidunt delectus dolorum
        sapiente pariatur unde recusandae ipsum tempora magnam. Quas officiis laudantium veniam reprehenderit alias ea
        dolor. Tempora maiores impedit aperiam eveniet cum voluptas optio, consequatur placeat architecto aliquid iste
        minus, minima distinctio, ab voluptatum quas doloribus beatae facere dicta illo quasi facilis? Minus optio porro
        fuga molestiae officiis molestias, perferendis illo. Tempora illo molestias nemo rem, debitis tenetur provident
        labore, veritatis necessitatibus autem, perferendis asperiores soluta beatae sint animi! Ipsa sed sapiente,
        delectus
        consequuntur reiciendis laboriosam, quasi praesentium expedita pariatur dicta ab assumenda dignissimos incidunt
        explicabo animi magni? A labore dolorum quae iste ipsam incidunt aspernatur, voluptatum rerum eos sapiente
        placeat
        harum quisquam quod. Tempora placeat facere illo hic et cum ex id deleniti quasi consequuntur quia quibusdam,
        dolor
        veniam praesentium unde amet necessitatibus cumque fugit saepe incidunt inventore sit nesciunt architecto porro.
        Facilis rerum commodi ea deleniti fugit, dolore ratione provident cupiditate inventore, eum, assumenda amet
        voluptate ducimus minus qui sed reiciendis. Dolorum consectetur porro quisquam placeat quasi ea iste veritatis
        maiores sit quas facere id deleniti dolorem laboriosam asperiores repellendus odio dolore autem nesciunt, saepe
        vitae at! Eos sed minima, qui cumque odio, suscipit quo enim reprehenderit, ea dolorem voluptatibus omnis non
        molestias. Esse dolor maiores tempore? Dolore modi accusamus, nesciunt praesentium fugiat ullam exercitationem
        suscipit sunt dignissimos voluptate asperiores beatae animi repellat obcaecati saepe minima quas nihil est odio
        sequi consequatur. Nesciunt ipsam, voluptate, quibusdam vitae veniam fugiat voluptatibus culpa eum est quis
        delectus! Quasi dolorum consectetur numquam doloremque tempora ea consequatur saepe fugiat nemo necessitatibus
        pariatur esse neque praesentium corporis culpa vitae animi nam dignissimos autem, labore ullam cum est. Corporis
        quaerat molestiae amet asperiores dolor, porro nesciunt, dolore, enim impedit voluptatum nam? Voluptatem autem
        vitae
        distinctio pariatur impedit nemo repellat repudiandae laboriosam rem eum vero nostrum eaque nam dicta,
        voluptates
        omnis assumenda magnam ducimus adipisci iste perferendis ipsum? Ab cum consequuntur impedit alias hic amet
        quaerat
        sit soluta libero dolor, quisquam cumque adipisci sequi quam nemo pariatur, quas quibusdam distinctio est
        incidunt
        consectetur aperiam eius tempora. Asperiores, voluptates. Quibusdam commodi necessitatibus cumque. Cum odit quas
        minima iusto, tempora quibusdam quos ducimus, consequuntur ex quia dicta quaerat numquam itaque laborum
        exercitationem quod optio aperiam quo autem, earum corporis accusantium natus deleniti accusamus. Nulla
        doloribus,
        velit culpa quisquam quidem recusandae asperiores fugiat! Recusandae explicabo facere assumenda nisi vel dolore
        ipsa
        voluptatum nulla consectetur sit iure fuga veniam, quidem quia reprehenderit vero sed porro nostrum doloribus
        dolores itaque! Animi voluptate odio eius distinctio odit. Veritatis harum perferendis maxime facilis sed, a
        eligendi voluptates consequuntur quos pariatur! Odit ea vitae dignissimos ex itaque. Dolore rem minima facere
        vel
        voluptatum libero totam molestias sit earum corrupti illum esse unde consectetur, maxime, nobis nemo molestiae
        deleniti impedit officia! Magni, impedit ut corrupti rerum, unde voluptatibus pariatur voluptatum voluptas modi
        quo
        sequi asperiores dolorum, earum repellat similique laborum quam veritatis expedita vitae fugiat tempore eos.
        Quia,
        aliquid. Saepe obcaecati minus aut aliquam labore quos inventore ex libero et aperiam qui voluptates culpa neque
        est, molestias modi pariatur vitae nesciunt corporis magnam blanditiis unde! Quaerat deserunt nemo velit.
        Quidem,
        aut nam. Ullam magnam iste itaque magni deleniti nostrum vitae? Totam dolores expedita earum eaque nobis,
        nostrum
        quae cumque doloremque voluptates, ea fugit unde at, amet voluptas? Veritatis architecto atque, omnis, minima
        odit
        esse rerum nulla possimus repellendus necessitatibus debitis sed mollitia voluptate quos commodi est, cum ea
        iure
        dicta eligendi ad nostrum voluptates laborum! Tempora delectus adipisci provident! Laudantium, fugit. Maxime
        distinctio laboriosam pariatur a alias provident voluptatem voluptate doloremque repudiandae deserunt.
        Consectetur,
        fugit excepturi adipisci itaque perspiciatis cupiditate mollitia qui quos minus cumque possimus hic vitae,
        inventore
        numquam. Officiis temporibus dolorem aut amet adipisci dolore culpa, mollitia quae veritatis odio ullam ab
        praesentium libero tempora repellat at, suscipit numquam, obcaecati ipsa cupiditate asperiores nulla et qui.
        Culpa
        dolore temporibus est rerum sit, nam magnam harum et quo in esse praesentium, doloremque enim porro numquam
        animi
        voluptatibus veniam eius ratione at! Sed maiores, id tenetur expedita nihil aperiam accusamus perspiciatis,
        voluptate dignissimos a molestias distinctio ratione dolore est laudantium deserunt dolorem? Quae aspernatur
        sit,
        illum, incidunt sunt recusandae maxime pariatur perferendis debitis tempore, soluta assumenda beatae? Tempore ut
        aliquam ex, odit, omnis molestias maxime veritatis officiis ea quibusdam quasi voluptatem! Porro ratione
        accusantium
        voluptas esse inventore cumque vero, iusto quod earum odit labore aut pariatur consequuntur deserunt dolor,
        quasi
        dignissimos iste error! Perspiciatis fugit exercitationem tempore excepturi, laborum eaque repellendus. Facilis
        facere rerum quos laudantium vero, animi fugit ex aperiam illum, ipsa inventore fugiat minus ipsum excepturi
        delectus. Eius quibusdam praesentium at voluptates cum ipsa doloremque tempora consequatur excepturi et eum
        quis,
        ducimus placeat harum nihil mollitia impedit nostrum vitae maxime veniam aspernatur hic quisquam! Quo velit,
        odit
        optio consequatur exercitationem repudiandae laudantium ab id. Voluptatem, expedita laborum tenetur esse nobis
        vel
        ullam vero nam omnis sunt eaque laboriosam magnam est facilis adipisci et harum nulla eius necessitatibus ea
        minus
        culpa soluta minima! Nemo hic explicabo provident dolores molestias, vitae asperiores magnam nulla atque iusto
        possimus eligendi obcaecati labore deleniti nam nisi praesentium a voluptas odit autem, numquam repellat sit?
        Aliquam expedita nulla, deserunt rem quidem exercitationem ex fuga culpa quae aliquid eligendi facilis tenetur
        dolorum est impedit et dolorem alias libero illum voluptate nesciunt pariatur, soluta vel quos? Ab commodi
        perferendis illum dolorem, iste culpa! Dicta eos praesentium asperiores quia id nostrum minus tempora deleniti!
    </p>
</div>
{% endblock body %}